<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2> Customer Details </h2>
<table border = 1>
	<tr>
	<th>Id</th>
	<th>name</th>
 	<th>email</th>
	<th>contactNumber</th>
	<th>address</th>
	<th>actions</th>
	</tr>
	<tr th:each="cus:${customers}">
	<td th:text = ${cus.id}></td> 
	<td th:text = ${cus.name}></td>
	<td th:text = ${cus.email}></td>
	<td th:text = ${cus.contactNumber}></td>
	<td th:text = ${cus.address}></td> 
	<td>
	<a th:href="@{/editCustomer/{id}(id=${cus.id})}"> Edit </a>
	<a th:href="@{/deleteCustomer/{id}(id=${cus.id})}" onclick="return confirm('Are You Sure?')"> Delete </a>
	</td>
	</tr>
</table>
</body>
</html>